In [1]:
import pyspark
sc = pyspark.SparkContext()

In [2]:
from pyspark.sql import SQLContext
sql = SQLContext(sc)

In [41]:
df = (sql.read
         .format("com.databricks.spark.csv")
         .option("header", "true")
         .load("h1b_kaggle.csv"))

In [42]:
df.head()

Row(_c0='1', CASE_STATUS='CERTIFIED-WITHDRAWN', EMPLOYER_NAME='UNIVERSITY OF MICHIGAN', SOC_NAME='BIOCHEMISTS AND BIOPHYSICISTS', JOB_TITLE='POSTDOCTORAL RESEARCH FELLOW', FULL_TIME_POSITION='N', PREVAILING_WAGE='36067', YEAR='2016', WORKSITE='ANN ARBOR, MICHIGAN', lon='-83.7430378', lat='42.2808256')

In [43]:
df.take(5)

[Row(_c0='1', CASE_STATUS='CERTIFIED-WITHDRAWN', EMPLOYER_NAME='UNIVERSITY OF MICHIGAN', SOC_NAME='BIOCHEMISTS AND BIOPHYSICISTS', JOB_TITLE='POSTDOCTORAL RESEARCH FELLOW', FULL_TIME_POSITION='N', PREVAILING_WAGE='36067', YEAR='2016', WORKSITE='ANN ARBOR, MICHIGAN', lon='-83.7430378', lat='42.2808256'),
 Row(_c0='2', CASE_STATUS='CERTIFIED-WITHDRAWN', EMPLOYER_NAME='GOODMAN NETWORKS, INC.', SOC_NAME='CHIEF EXECUTIVES', JOB_TITLE='CHIEF OPERATING OFFICER', FULL_TIME_POSITION='Y', PREVAILING_WAGE='242674', YEAR='2016', WORKSITE='PLANO, TEXAS', lon='-96.6988856', lat='33.0198431'),
 Row(_c0='3', CASE_STATUS='CERTIFIED-WITHDRAWN', EMPLOYER_NAME='PORTS AMERICA GROUP, INC.', SOC_NAME='CHIEF EXECUTIVES', JOB_TITLE='CHIEF PROCESS OFFICER', FULL_TIME_POSITION='Y', PREVAILING_WAGE='193066', YEAR='2016', WORKSITE='JERSEY CITY, NEW JERSEY', lon='-74.0776417', lat='40.7281575'),
 Row(_c0='4', CASE_STATUS='CERTIFIED-WITHDRAWN', EMPLOYER_NAME='GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY OF TOMKINS PLC', SOC_NAME='CHIEF EXECUTIVES', JOB_TITLE='REGIONAL PRESIDEN, AMERICAS', FULL_TIME_POSITION='Y', PREVAILING_WAGE='220314', YEAR='2016', WORKSITE='DENVER, COLORADO', lon='-104.990251', lat='39.7392358'),
 Row(_c0='5', CASE_STATUS='WITHDRAWN', EMPLOYER_NAME='PEABODY INVESTMENTS CORP.', SOC_NAME='CHIEF EXECUTIVES', JOB_TITLE='PRESIDENT MONGOLIA AND INDIA', FULL_TIME_POSITION='Y', PREVAILING_WAGE='157518.4', YEAR='2016', WORKSITE='ST. LOUIS, MISSOURI', lon='-90.1994042', lat='38.6270025')]

In [4]:
df.show(5)

+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+-----------+----------+
|_c0|        CASE_STATUS|       EMPLOYER_NAME|            SOC_NAME|           JOB_TITLE|FULL_TIME_POSITION|PREVAILING_WAGE|YEAR|            WORKSITE|        lon|       lat|
+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+-----------+----------+
|  1|CERTIFIED-WITHDRAWN|UNIVERSITY OF MIC...|BIOCHEMISTS AND B...|POSTDOCTORAL RESE...|                 N|          36067|2016| ANN ARBOR, MICHIGAN|-83.7430378|42.2808256|
|  2|CERTIFIED-WITHDRAWN|GOODMAN NETWORKS,...|    CHIEF EXECUTIVES|CHIEF OPERATING O...|                 Y|         242674|2016|        PLANO, TEXAS|-96.6988856|33.0198431|
|  3|CERTIFIED-WITHDRAWN|PORTS AMERICA GRO...|    CHIEF EXECUTIVES|CHIEF PROCESS OFF...|                 Y|         193066|2016|JERSEY CITY, NEW ...|-74.0776417|40.7281575|
|  4|CERTIFIED-WITHDRAWN|GATES CORPORATION...|    CHIEF EXECUTIVES|REGIONAL PRESIDEN...|                 Y|         220314|2016|    DENVER, COLORADO|-104.990251|39.7392358|
|  5|          WITHDRAWN|PEABODY INVESTMEN...|    CHIEF EXECUTIVES|PRESIDENT MONGOLI...|                 Y|       157518.4|2016| ST. LOUIS, MISSOURI|-90.1994042|38.6270025|
+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+-----------+----------+
only showing top 5 rows

In [44]:
df.count()

3002458

In [45]:
#Getting the data types of all columns
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- CASE_STATUS: string (nullable = true)
 |-- EMPLOYER_NAME: string (nullable = true)
 |-- SOC_NAME: string (nullable = true)
 |-- JOB_TITLE: string (nullable = true)
 |-- FULL_TIME_POSITION: string (nullable = true)
 |-- PREVAILING_WAGE: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- WORKSITE: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- lat: string (nullable = true)

In [21]:
from pyspark.mllib.tree import DecisionTree, DecisionTreeModel

In [9]:
#Changing datatypes of some columns
df = df.withColumn("PREVAILING_WAGE", df["PREVAILING_WAGE"].cast("double"))

In [12]:
#Getting a count of nulls in each column
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+-----------+-------------+--------+---------+------------------+---------------+----+--------+---+---+
|_c0|CASE_STATUS|EMPLOYER_NAME|SOC_NAME|JOB_TITLE|FULL_TIME_POSITION|PREVAILING_WAGE|YEAR|WORKSITE|lon|lat|
+---+-----------+-------------+--------+---------+------------------+---------------+----+--------+---+---+
|  0|          0|            0|       0|        0|                 0|              0|   0|       0|  0|  7|
+---+-----------+-------------+--------+---------+------------------+---------------+----+--------+---+---+

In [ ]:
#Splitting the WORKSITE column using comma to separate state from rest of the address
from pyspark.sql.functions import split
split_col = split(df['worksite'], ',')
df = df.withColumn('CITY', split_col.getItem(0))
df = df.withColumn('STATE', split_col.getItem(1))

In [21]:
#Replacing nulls with specific values - DONT THINK THIS WORKED so used sql below
#df.na.fill({'case_status': 'Unknown', 'employer_name': 'Unknown', 'soc_name':'Unknown', 'job_title':'Unknown', \
#'full_time_position':'Unknown','prevailing_wage':0,'year':'Unknown','worksite':'Unknown','lon':0,'lat':0})

DataFrame[_c0: string, CASE_STATUS: string, EMPLOYER_NAME: string, SOC_NAME: string, JOB_TITLE: string, FULL_TIME_POSITION: string, PREVAILING_WAGE: string, YEAR: string, WORKSITE: string, lon: string, lat: string]

In [18]:
#df.filter(df["case_status"] = 'Unknown').count()
sql.registerDataFrameAsTable(df, "h1_b_data")

In [21]:
#Using sql to check for null values. Only Lat column has 7 null values.
#df2 = sql.sql("SELECT _c0, SOC_NAME from h1_b_data")

df2 = sql.sql("SELECT * from h1_b_data where SOC_NAME like '%COMPUTER%' OR SOC_NAME like '%Computer%'")
df3 = sql.sql("SELECT * from h1_b_data where SOC_NAME not like '%COMPUTER%' AND SOC_NAME not like '%Computer%'")

#df2.show()
df2.count()

1328062

In [22]:
df3.count()

1674396

In [25]:
from pyspark.sql.functions import lit

df2 = df2.withColumn('SOC_NAME_CONVERTED', lit(1))
df3 = df3.withColumn('SOC_NAME_CONVERTED', lit(0))

In [26]:
df2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- CASE_STATUS: string (nullable = true)
 |-- EMPLOYER_NAME: string (nullable = true)
 |-- SOC_NAME: string (nullable = true)
 |-- JOB_TITLE: string (nullable = true)
 |-- FULL_TIME_POSITION: string (nullable = true)
 |-- PREVAILING_WAGE: double (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- WORKSITE: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- SOC_NAME_CONVERTED: integer (nullable = false)

In [27]:
#df2.count()
df2.show()

+----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-------------+---------------+------------------+
| _c0|        CASE_STATUS|       EMPLOYER_NAME|            SOC_NAME|           JOB_TITLE|FULL_TIME_POSITION|PREVAILING_WAGE|YEAR|            WORKSITE|         lon|       lat|         CITY|          STATE|SOC_NAME_CONVERTED|
+----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-------------+---------------+------------------+
|7337|CERTIFIED-WITHDRAWN|NORTHWEST EVALUAT...|COMPUTER & INFORM...|INFORMATION SERVI...|                 Y|       132475.0|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|     NEW YORK|       NEW YORK|                 1|
|7338|CERTIFIED-WITHDRAWN|NORTHWEST EVALUAT...|COMPUTER & INFORM...|INFORMATION SERVI...|                 Y|       114483.0|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|     NEW YORK|       NEW YORK|                 1|
|7339|CERTIFIED-WITHDRAWN|    CCH INCORPORATED|COMPUTER AND INFO...|          MANAGER IT|                 Y|       111654.0|2016|       IRVING, TEXAS| -96.9488945|32.8140177|       IRVING|          TEXAS|                 1|
|7340|          WITHDRAWN|      GRANULAR, INC.|COMPUTER AND INFO...|SENIOR PRODUCT MA...|                 Y|       118414.0|2016|SAN FRANCISCO, CA...|-122.4194155|37.7749295|SAN FRANCISCO|     CALIFORNIA|                 1|
|7341|          CERTIFIED|PAYMENT LOGISTICS...|COMPUTER AND INFO...|CHIEF TECHNOLOGY ...|                 Y|        90000.0|2016|SAN DIEGO, CALIFO...|-117.1610838| 32.715738|    SAN DIEGO|     CALIFORNIA|                 1|
|7342|          WITHDRAWN|          ZYNGA INC.|COMPUTER AND INFO...| DIRECTOR OF PRODUCT|                 Y|       136282.0|2016|CARLSBAD, CALIFORNIA|-117.3505939|33.1580933|     CARLSBAD|     CALIFORNIA|                 1|
|7343|CERTIFIED-WITHDRAWN|FEDERAL HOME LOAN...|COMPUTER AND INFO...| ENGINEERING MANAGER|                 Y|       106900.0|2016|    RESTON, VIRGINIA| -77.3570028|38.9586307|       RESTON|       VIRGINIA|                 1|
|7344|          WITHDRAWN| TIBCO SOFTWARE INC.|COMPUTER AND INFO...|     PROJECT MANAGER|                 Y|       109075.0|2016|       DALLAS, TEXAS| -96.7969879|32.7766642|       DALLAS|          TEXAS|                 1|
|7345|          WITHDRAWN|AMAZON CORPORATE LLC|COMPUTER AND INFO...|TECHNICAL PROGRAM...|                 Y|        93200.0|2016| SEATTLE, WASHINGTON|-122.3320708|47.6062095|      SEATTLE|     WASHINGTON|                 1|
|7346|CERTIFIED-WITHDRAWN|         DIRECTV LLC|COMPUTER AND INFO...|IT PROJECT MANAGE...|                 Y|       115600.0|2016|EL SEGUNDO, CALIF...|-118.4164652|33.9191799|   EL SEGUNDO|     CALIFORNIA|                 1|
|7347|CERTIFIED-WITHDRAWN|CREDIT SUISSE SEC...|COMPUTER AND INFO...|ASSISTANT VICE PR...|                 Y|       127358.0|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|     NEW YORK|       NEW YORK|                 1|
|7348|          WITHDRAWN|LINKEDIN CORPORATION|COMPUTER AND INFO...|     PRODUCT MANAGER|                 Y|       119621.0|2016|MOUNTAIN VIEW, CA...|-122.0838511|37.3860517|MOUNTAIN VIEW|     CALIFORNIA|                 1|
|7349|          WITHDRAWN|         INTUIT INC.|COMPUTER AND INFO...|OFFERING PROGRAM ...|                 Y|       119621.0|2016|MOUNTAIN VIEW, CA...|-122.0838511|37.3860517|MOUNTAIN VIEW|     CALIFORNIA|                 1|
|7350|CERTIFIED-WITHDRAWN|AIG GLOBAL SERVIC...|COMPUTER AND INFO...|GLOBAL HEAD, PROJ...|                 Y|       186098.0|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|     NEW YORK|       NEW YORK|                 1|
|7351|CERTIFIED-WITHDRAWN|LENOVO (UNITED ST...|COMPUTER AND INFO...|ORGANIZATIONAL CH...|                 Y|        87526.0|2016|MORRISVILLE, NORT...| -78.8255621| 35.823483|  MORRISVILLE| NORTH CAROLINA|                 1|
|7352|CERTIFIED-WITHDRAWN|  EFFEX CAPITAL, LLC|COMPUTER AND INFO...|CHIEF TECHNOLOGY ...|                 Y|       186098.0|2016|JERSEY CITY, NEW ...| -74.0776417|40.7281575|  JERSEY CITY|     NEW JERSEY|                 1|
|7353|CERTIFIED-WITHDRAWN|TEMPLE UNIVERSITY...|COMPUTER AND INFO...| INFORMATICS MANAGER|                 Y|        76794.0|2016|PHILADELPHIA, PEN...| -75.1652215|39.9525839| PHILADELPHIA|   PENNSYLVANIA|                 1|
|7354|CERTIFIED-WITHDRAWN|ORACLE FINANCIAL ...|COMPUTER AND INFO...|PROJECT SUPPORT M...|                 Y|        97805.0|2016|  EDISON, NEW JERSEY| -74.4120953|40.5187154|       EDISON|     NEW JERSEY|                 1|
|7355|CERTIFIED-WITHDRAWN|ADOBE SYSTEMS INC...|COMPUTER AND INFO...|INFORMATION TECHN...|                 Y|       112258.0|2016|SAN FRANCISCO, CA...|-122.4194155|37.7749295|SAN FRANCISCO|     CALIFORNIA|                 1|
|7356|CERTIFIED-WITHDRAWN|     CADATASOFT, INC|COMPUTER AND INFO...|TECHNICAL PROJECT...|                 Y|       119621.0|2016|SANTA CLARA, CALI...|-121.9552356|37.3541079|  SANTA CLARA|     CALIFORNIA|                 1|
+----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-------------+---------------+------------------+
only showing top 20 rows

In [28]:
df3.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- CASE_STATUS: string (nullable = true)
 |-- EMPLOYER_NAME: string (nullable = true)
 |-- SOC_NAME: string (nullable = true)
 |-- JOB_TITLE: string (nullable = true)
 |-- FULL_TIME_POSITION: string (nullable = true)
 |-- PREVAILING_WAGE: double (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- WORKSITE: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- SOC_NAME_CONVERTED: integer (nullable = false)

In [30]:
df3.show()

+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-----------------+--------------+------------------+
|_c0|        CASE_STATUS|       EMPLOYER_NAME|            SOC_NAME|           JOB_TITLE|FULL_TIME_POSITION|PREVAILING_WAGE|YEAR|            WORKSITE|         lon|       lat|             CITY|         STATE|SOC_NAME_CONVERTED|
+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-----------------+--------------+------------------+
|  1|CERTIFIED-WITHDRAWN|UNIVERSITY OF MIC...|BIOCHEMISTS AND B...|POSTDOCTORAL RESE...|                 N|        36067.0|2016| ANN ARBOR, MICHIGAN| -83.7430378|42.2808256|        ANN ARBOR|      MICHIGAN|                 0|
|  2|CERTIFIED-WITHDRAWN|GOODMAN NETWORKS,...|    CHIEF EXECUTIVES|CHIEF OPERATING O...|                 Y|       242674.0|2016|        PLANO, TEXAS| -96.6988856|33.0198431|            PLANO|         TEXAS|                 0|
|  3|CERTIFIED-WITHDRAWN|PORTS AMERICA GRO...|    CHIEF EXECUTIVES|CHIEF PROCESS OFF...|                 Y|       193066.0|2016|JERSEY CITY, NEW ...| -74.0776417|40.7281575|      JERSEY CITY|    NEW JERSEY|                 0|
|  4|CERTIFIED-WITHDRAWN|GATES CORPORATION...|    CHIEF EXECUTIVES|REGIONAL PRESIDEN...|                 Y|       220314.0|2016|    DENVER, COLORADO| -104.990251|39.7392358|           DENVER|      COLORADO|                 0|
|  5|          WITHDRAWN|PEABODY INVESTMEN...|    CHIEF EXECUTIVES|PRESIDENT MONGOLI...|                 Y|       157518.4|2016| ST. LOUIS, MISSOURI| -90.1994042|38.6270025|        ST. LOUIS|      MISSOURI|                 0|
|  6|CERTIFIED-WITHDRAWN|BURGER KING CORPO...|    CHIEF EXECUTIVES|EXECUTIVE V P, GL...|                 Y|       225000.0|2016|      MIAMI, FLORIDA| -80.1917902|25.7616798|            MIAMI|       FLORIDA|                 0|
|  7|CERTIFIED-WITHDRAWN|BT AND MK ENERGY ...|    CHIEF EXECUTIVES|CHIEF OPERATING O...|                 Y|        91021.0|2016|      HOUSTON, TEXAS| -95.3698028|29.7604267|          HOUSTON|         TEXAS|                 0|
|  8|CERTIFIED-WITHDRAWN|GLOBO MOBILE TECH...|    CHIEF EXECUTIVES|CHIEF OPERATIONS ...|                 Y|       150000.0|2016|SAN JOSE, CALIFORNIA|-121.8863286|37.3382082|         SAN JOSE|    CALIFORNIA|                 0|
|  9|CERTIFIED-WITHDRAWN|  ESI COMPANIES INC.|    CHIEF EXECUTIVES|           PRESIDENT|                 Y|       127546.0|2016|      MEMPHIS, TEXAS|          NA|        NA|          MEMPHIS|         TEXAS|                 0|
| 10|          WITHDRAWN|LESSARD INTERNATI...|    CHIEF EXECUTIVES|           PRESIDENT|                 Y|       154648.0|2016|    VIENNA, VIRGINIA| -77.2652604|38.9012225|           VIENNA|      VIRGINIA|                 0|
| 11|CERTIFIED-WITHDRAWN|  H.J. HEINZ COMPANY|    CHIEF EXECUTIVES|CHIEF INFORMATION...|                 Y|       182978.0|2016|PITTSBURGH, PENNS...| -79.9958864|40.4406248|       PITTSBURGH|  PENNSYLVANIA|                 0|
| 12|CERTIFIED-WITHDRAWN|DOW CORNING CORPO...|    CHIEF EXECUTIVES|VICE PRESIDENT AN...|                 Y|       163717.0|2016|   MIDLAND, MICHIGAN| -84.2472116|43.6155825|          MIDLAND|      MICHIGAN|                 0|
| 13|CERTIFIED-WITHDRAWN|    ACUSHNET COMPANY|    CHIEF EXECUTIVES|   TREASURER AND COO|                 Y|       203860.8|2016|FAIRHAVEN, MASSAC...|          NA|        NA|        FAIRHAVEN| MASSACHUSETTS|                 0|
| 14|CERTIFIED-WITHDRAWN|       BIOCAIR, INC.|    CHIEF EXECUTIVES|CHIEF COMMERCIAL ...|                 Y|       252637.0|2016|      MIAMI, FLORIDA| -80.1917902|25.7616798|            MIAMI|       FLORIDA|                 0|
| 15|CERTIFIED-WITHDRAWN|NEWMONT MINING CO...|    CHIEF EXECUTIVES|        BOARD MEMBER|                 Y|       105914.0|2016|GREENWOOD VILLAGE...|-104.9508141|39.6172101|GREENWOOD VILLAGE|      COLORADO|                 0|
| 16|CERTIFIED-WITHDRAWN|        VRICON, INC.|    CHIEF EXECUTIVES|CHIEF FINANCIAL O...|                 Y|       153046.0|2016|  STERLING, VIRGINIA| -77.4291298|39.0066993|         STERLING|      VIRGINIA|                 0|
| 17|CERTIFIED-WITHDRAWN|CARDIAC SCIENCE C...|  FINANCIAL MANAGERS|VICE PRESIDENT OF...|                 Y|        90834.0|2016| WAUKESHA, WISCONSIN| -88.2314813|43.0116784|         WAUKESHA|     WISCONSIN|                 0|
| 18|CERTIFIED-WITHDRAWN|WESTFIELD CORPORA...|    CHIEF EXECUTIVES|GENERAL MANAGER, ...|                 Y|       164050.0|2016|LOS ANGELES, CALI...|-118.2436849|34.0522342|      LOS ANGELES|    CALIFORNIA|                 0|
| 19|          CERTIFIED|      QUICKLOGIX LLC|    CHIEF EXECUTIVES|                 CEO|                 Y|       187200.0|2016|SANTA CLARA, CALI...|-121.9552356|37.3541079|      SANTA CLARA|    CALIFORNIA|                 0|
| 20|          CERTIFIED|MCCHRYSTAL GROUP,...|    CHIEF EXECUTIVES|PRESIDENT, NORTHE...|                 Y|       241842.0|2016|ALEXANDRIA, VIRGINIA| -77.0469214|38.8048355|       ALEXANDRIA|      VIRGINIA|                 0|
+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-----------------+--------------+------------------+
only showing top 20 rows

In [31]:
result = df2.union(df3)

In [32]:
result.count()

3002458

In [33]:
result.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- CASE_STATUS: string (nullable = true)
 |-- EMPLOYER_NAME: string (nullable = true)
 |-- SOC_NAME: string (nullable = true)
 |-- JOB_TITLE: string (nullable = true)
 |-- FULL_TIME_POSITION: string (nullable = true)
 |-- PREVAILING_WAGE: double (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- WORKSITE: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- SOC_NAME_CONVERTED: integer (nullable = false)

In [34]:
result.show()

+----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-------------+---------------+------------------+
| _c0|        CASE_STATUS|       EMPLOYER_NAME|            SOC_NAME|           JOB_TITLE|FULL_TIME_POSITION|PREVAILING_WAGE|YEAR|            WORKSITE|         lon|       lat|         CITY|          STATE|SOC_NAME_CONVERTED|
+----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-------------+---------------+------------------+
|7337|CERTIFIED-WITHDRAWN|NORTHWEST EVALUAT...|COMPUTER & INFORM...|INFORMATION SERVI...|                 Y|       132475.0|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|     NEW YORK|       NEW YORK|                 1|
|7338|CERTIFIED-WITHDRAWN|NORTHWEST EVALUAT...|COMPUTER & INFORM...|INFORMATION SERVI...|                 Y|       114483.0|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|     NEW YORK|       NEW YORK|                 1|
|7339|CERTIFIED-WITHDRAWN|    CCH INCORPORATED|COMPUTER AND INFO...|          MANAGER IT|                 Y|       111654.0|2016|       IRVING, TEXAS| -96.9488945|32.8140177|       IRVING|          TEXAS|                 1|
|7340|          WITHDRAWN|      GRANULAR, INC.|COMPUTER AND INFO...|SENIOR PRODUCT MA...|                 Y|       118414.0|2016|SAN FRANCISCO, CA...|-122.4194155|37.7749295|SAN FRANCISCO|     CALIFORNIA|                 1|
|7341|          CERTIFIED|PAYMENT LOGISTICS...|COMPUTER AND INFO...|CHIEF TECHNOLOGY ...|                 Y|        90000.0|2016|SAN DIEGO, CALIFO...|-117.1610838| 32.715738|    SAN DIEGO|     CALIFORNIA|                 1|
|7342|          WITHDRAWN|          ZYNGA INC.|COMPUTER AND INFO...| DIRECTOR OF PRODUCT|                 Y|       136282.0|2016|CARLSBAD, CALIFORNIA|-117.3505939|33.1580933|     CARLSBAD|     CALIFORNIA|                 1|
|7343|CERTIFIED-WITHDRAWN|FEDERAL HOME LOAN...|COMPUTER AND INFO...| ENGINEERING MANAGER|                 Y|       106900.0|2016|    RESTON, VIRGINIA| -77.3570028|38.9586307|       RESTON|       VIRGINIA|                 1|
|7344|          WITHDRAWN| TIBCO SOFTWARE INC.|COMPUTER AND INFO...|     PROJECT MANAGER|                 Y|       109075.0|2016|       DALLAS, TEXAS| -96.7969879|32.7766642|       DALLAS|          TEXAS|                 1|
|7345|          WITHDRAWN|AMAZON CORPORATE LLC|COMPUTER AND INFO...|TECHNICAL PROGRAM...|                 Y|        93200.0|2016| SEATTLE, WASHINGTON|-122.3320708|47.6062095|      SEATTLE|     WASHINGTON|                 1|
|7346|CERTIFIED-WITHDRAWN|         DIRECTV LLC|COMPUTER AND INFO...|IT PROJECT MANAGE...|                 Y|       115600.0|2016|EL SEGUNDO, CALIF...|-118.4164652|33.9191799|   EL SEGUNDO|     CALIFORNIA|                 1|
|7347|CERTIFIED-WITHDRAWN|CREDIT SUISSE SEC...|COMPUTER AND INFO...|ASSISTANT VICE PR...|                 Y|       127358.0|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|     NEW YORK|       NEW YORK|                 1|
|7348|          WITHDRAWN|LINKEDIN CORPORATION|COMPUTER AND INFO...|     PRODUCT MANAGER|                 Y|       119621.0|2016|MOUNTAIN VIEW, CA...|-122.0838511|37.3860517|MOUNTAIN VIEW|     CALIFORNIA|                 1|
|7349|          WITHDRAWN|         INTUIT INC.|COMPUTER AND INFO...|OFFERING PROGRAM ...|                 Y|       119621.0|2016|MOUNTAIN VIEW, CA...|-122.0838511|37.3860517|MOUNTAIN VIEW|     CALIFORNIA|                 1|
|7350|CERTIFIED-WITHDRAWN|AIG GLOBAL SERVIC...|COMPUTER AND INFO...|GLOBAL HEAD, PROJ...|                 Y|       186098.0|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|     NEW YORK|       NEW YORK|                 1|
|7351|CERTIFIED-WITHDRAWN|LENOVO (UNITED ST...|COMPUTER AND INFO...|ORGANIZATIONAL CH...|                 Y|        87526.0|2016|MORRISVILLE, NORT...| -78.8255621| 35.823483|  MORRISVILLE| NORTH CAROLINA|                 1|
|7352|CERTIFIED-WITHDRAWN|  EFFEX CAPITAL, LLC|COMPUTER AND INFO...|CHIEF TECHNOLOGY ...|                 Y|       186098.0|2016|JERSEY CITY, NEW ...| -74.0776417|40.7281575|  JERSEY CITY|     NEW JERSEY|                 1|
|7353|CERTIFIED-WITHDRAWN|TEMPLE UNIVERSITY...|COMPUTER AND INFO...| INFORMATICS MANAGER|                 Y|        76794.0|2016|PHILADELPHIA, PEN...| -75.1652215|39.9525839| PHILADELPHIA|   PENNSYLVANIA|                 1|
|7354|CERTIFIED-WITHDRAWN|ORACLE FINANCIAL ...|COMPUTER AND INFO...|PROJECT SUPPORT M...|                 Y|        97805.0|2016|  EDISON, NEW JERSEY| -74.4120953|40.5187154|       EDISON|     NEW JERSEY|                 1|
|7355|CERTIFIED-WITHDRAWN|ADOBE SYSTEMS INC...|COMPUTER AND INFO...|INFORMATION TECHN...|                 Y|       112258.0|2016|SAN FRANCISCO, CA...|-122.4194155|37.7749295|SAN FRANCISCO|     CALIFORNIA|                 1|
|7356|CERTIFIED-WITHDRAWN|     CADATASOFT, INC|COMPUTER AND INFO...|TECHNICAL PROJECT...|                 Y|       119621.0|2016|SANTA CLARA, CALI...|-121.9552356|37.3541079|  SANTA CLARA|     CALIFORNIA|                 1|
+----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+-------------+---------------+------------------+
only showing top 20 rows

In [35]:
sql.registerDataFrameAsTable(result, "h1_b_data_soc_name_converted")

In [80]:
#Excluding from dataframe SOC_NAMES that have 4 or more comma separates values. 78 such rows. 
#df4 = sql.sql("SELECT CASE_STATUS, FULL_TIME_POSITION, PREVAILING_WAGE, YEAR, STATE, CITY, SOC_NAME_CONVERTED from h1_b_data_soc_name_converted where CASE_STATUS in ('CERTIFIED', 'CERTIFIED-WITHDRAWN', 'DENIED') AND FULL_TIME_POSITION in ('Y','N') AND STATE NOT IN ('NA') AND STATE is not null AND CITY NOT IN ('NA') AND CITY is not null")
#df2.take(78)
df4 = sql.sql("SELECT CASE_STATUS, FULL_TIME_POSITION, PREVAILING_WAGE, YEAR, STATE, CITY, SOC_NAME_CONVERTED from h1_b_data_soc_name_converted where CASE_STATUS in ('CERTIFIED', 'CERTIFIED-WITHDRAWN', 'DENIED') AND FULL_TIME_POSITION in ('Y','N') AND STATE != 'NA' AND STATE is not null AND CITY != 'NA' AND CITY is not null")
df4.count()

2912586

In [ ]:
#Recreating the table from dataframe after exclusion of above SOC_NAMES
sql.registerDataFrameAsTable(df, "h1_b_data")

In [13]:
df.show(5)

+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+-----------+----------+-----------+-----------+
|_c0|        CASE_STATUS|       EMPLOYER_NAME|            SOC_NAME|           JOB_TITLE|FULL_TIME_POSITION|PREVAILING_WAGE|YEAR|            WORKSITE|        lon|       lat|       CITY|      STATE|
+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+-----------+----------+-----------+-----------+
|  1|CERTIFIED-WITHDRAWN|UNIVERSITY OF MIC...|BIOCHEMISTS AND B...|POSTDOCTORAL RESE...|                 N|        36067.0|2016| ANN ARBOR, MICHIGAN|-83.7430378|42.2808256|  ANN ARBOR|   MICHIGAN|
|  2|CERTIFIED-WITHDRAWN|GOODMAN NETWORKS,...|    CHIEF EXECUTIVES|CHIEF OPERATING O...|                 Y|       242674.0|2016|        PLANO, TEXAS|-96.6988856|33.0198431|      PLANO|      TEXAS|
|  3|CERTIFIED-WITHDRAWN|PORTS AMERICA GRO...|    CHIEF EXECUTIVES|CHIEF PROCESS OFF...|                 Y|       193066.0|2016|JERSEY CITY, NEW ...|-74.0776417|40.7281575|JERSEY CITY| NEW JERSEY|
|  4|CERTIFIED-WITHDRAWN|GATES CORPORATION...|    CHIEF EXECUTIVES|REGIONAL PRESIDEN...|                 Y|       220314.0|2016|    DENVER, COLORADO|-104.990251|39.7392358|     DENVER|   COLORADO|
|  5|          WITHDRAWN|PEABODY INVESTMEN...|    CHIEF EXECUTIVES|PRESIDENT MONGOLI...|                 Y|       157518.4|2016| ST. LOUIS, MISSOURI|-90.1994042|38.6270025|  ST. LOUIS|   MISSOURI|
+---+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+-----------+----------+-----------+-----------+
only showing top 5 rows

In [67]:
#df.select('STATE').distinct().take(54)
df4.select('STATE').distinct().count()

53

In [38]:
df2.show()

+-----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+
|  _c0|        CASE_STATUS|       EMPLOYER_NAME|            SOC_NAME|           JOB_TITLE|FULL_TIME_POSITION|PREVAILING_WAGE|YEAR|            WORKSITE|         lon|       lat|
+-----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+
|22825|CERTIFIED-WITHDRAWN|KLA-TENCOR CORPOR...|PURCHASING AGENTS...|SUPPLY CHAIN SPEC...|                 N|          63378|2016|MILPITAS, CALIFORNIA|-121.8995741|37.4323341|
|22826|CERTIFIED-WITHDRAWN|     MEDTRONIC, INC.|PURCHASING AGENTS...|SUPPLY CHAIN ANALYST|                 N|          56326|2016|CARLSBAD, CALIFORNIA|-117.3505939|33.1580933|
|22827|CERTIFIED-WITHDRAWN|BORG WARNER EMISS...|PURCHASING AGENTS...|               BUYER|                 N|          40102|2016|     DIXON, ILLINOIS| -89.4795478|41.8389213|
|22828|CERTIFIED-WITHDRAWN|GLOBALFOUNDRIES U...|PURCHASING AGENTS...|PRINCIPAL SPECIAL...|                 N|          69243|2016|    ALBANY, NEW YORK| -73.7562317|42.6525793|
|22829|CERTIFIED-WITHDRAWN|VOLVO CONSTRUCTIO...|PURCHASING AGENTS...|PROJECT BUYER, PU...|                 N|          47008|2016|SHIPPENSBURG, PEN...| -77.5202647|40.0506453|
|22830|          WITHDRAWN|           EDG, INC.|PURCHASING AGENTS...|PROCUREMENT SPECI...|                 N|          48256|2016| METAIRIE, LOUISIANA| -90.1528519|29.9840922|
|22831|CERTIFIED-WITHDRAWN|     JACOBS PSG INC.|PURCHASING AGENTS...|CONTRACT ADMINIST...|                 N|          56930|2016|ELKVIEW, WEST VIR...|          NA|        NA|
|22832|CERTIFIED-WITHDRAWN|CNH INDUSTRIAL AM...|PURCHASING AGENTS...|BUYER,  MACHINED ...|                 N|          52666|2016|BURR RIDGE, ILLINOIS| -87.9183919|41.7489203|
|22833|CERTIFIED-WITHDRAWN|SCHLUMBERGER LIFT...|PURCHASING AGENTS...|    PURCHASING AGENT|                 N|          40560|2016|       DALLAS, TEXAS| -96.7969879|32.7766642|
|22834|CERTIFIED-WITHDRAWN|TEJAS TUBULAR PRO...|PURCHASING AGENTS...| PURCHASING ENGINEER|                 Y|          71386|2016|      HOUSTON, TEXAS| -95.3698028|29.7604267|
|22835|CERTIFIED-WITHDRAWN|LEVITON MANUFACTU...|PURCHASING AGENTS...|SENIOR BUYER PLANNER|                 Y|          75637|2016| BOTHELL, WASHINGTON|-122.2055883|  47.76095|
|22836|          CERTIFIED|UNILEVER UNITED S...|PURCHASING AGENTS...|PORTFOLIO PROCURE...|                 Y|          82597|2016|ENGLEWOOD CLIFFS,...| -73.9523597|40.8853773|
|22837|          CERTIFIED|      GK TRADING LLC|PURCHASING AGENTS...|PURCHASING ASSOCIATE|                 N|        57324.8|2016|  NEW YORK, NEW YORK| -74.0059413|40.7127837|
|22838|          CERTIFIED|CONTINENTAL AUTOM...|PURCHASING AGENTS...|SENOR CATEGORY PU...|                 Y|          81328|2016|      TROY, MICHIGAN| -83.1497751|42.6064095|
|22839|          CERTIFIED|FOXCONN/HON HAI L...|PURCHASING AGENTS...|PROCUREMENT SPECI...|                 N|          41850|2016|      HOUSTON, TEXAS| -95.3698028|29.7604267|
|22840|          WITHDRAWN|    XALT ENERGY, LLC|PURCHASING AGENTS...|PURCHASING TECHNI...|                 N|          51730|2016|   MIDLAND, MICHIGAN| -84.2472116|43.6155825|
|22841|          CERTIFIED|    XALT ENERGY, LLC|PURCHASING AGENTS...|PURCHASING TECHNI...|                 N|          51730|2016|   MIDLAND, MICHIGAN| -84.2472116|43.6155825|
|22842|          CERTIFIED|PLASTIC TRIM INTE...|PURCHASING AGENTS...|          BUYER, PCN|                 N|          48818|2016|EAST TAWAS, MICHIGAN|          NA|        NA|
|22843|          CERTIFIED|         KAUTEX INC.|PURCHASING AGENTS...|SENIOR SPECIALIST...|                 Y|          81328|2016|      TROY, MICHIGAN| -83.1497751|42.6064095|
|22844|          CERTIFIED|GOODMAN MANUFACTU...|PURCHASING AGENTS...|CAPEX ANALYST / B...|                 Y|          71386|2016|      HOUSTON, TEXAS| -95.3698028|29.7604267|
+-----+-------------------+--------------------+--------------------+--------------------+------------------+---------------+----+--------------------+------------+----------+
only showing top 20 rows

In [84]:
r = df4.groupby('STATE').count()
#df4.count()
r.show(53)

+--------------------+------+
|               STATE| count|
+--------------------+------+
|             INDIANA| 29320|
|             VERMONT|  1877|
|           LOUISIANA| 11059|
|        NORTH DAKOTA|  2817|
|             FLORIDA|102694|
|                UTAH| 12656|
|       NEW HAMPSHIRE|  9603|
|          CALIFORNIA|542657|
|       MASSACHUSETTS|113028|
|              ALASKA|  1363|
|            DELAWARE| 17708|
|      NORTH CAROLINA| 77536|
|        SOUTH DAKOTA|  1827|
|        RHODE ISLAND| 11455|
|            MARYLAND| 54451|
|                IOWA| 16233|
|          NEW JERSEY|207631|
|              HAWAII|  3644|
|            KENTUCKY| 12296|
|         MISSISSIPPI|  4099|
|            ARKANSAS| 14342|
|               IDAHO|  4038|
|            MICHIGAN| 80525|
|        PENNSYLVANIA|107258|
|           WISCONSIN| 31772|
|             ALABAMA|  9910|
|             ARIZONA| 40797|
|           MINNESOTA| 47417|
|            VIRGINIA| 87514|
|            ILLINOIS|156234|
|               TEXAS|285407|
|              NEVADA|  7152|
|            NEW YORK|282252|
|       WEST VIRGINIA|  2947|
|         CONNECTICUT| 48918|
|            OKLAHOMA| 10237|
|               MAINE|  3812|
|             WYOMING|   860|
|          NEW MEXICO|  5330|
|            NEBRASKA|  9009|
|              KANSAS| 13311|
|                  NA|  3444|
|             MONTANA|   951|
| DISTRICT OF COLU...| 22008|
|              OREGON| 22998|
|             GEORGIA|100027|
|           TENNESSEE| 26879|
|            MISSOURI| 33716|
|                OHIO| 74488|
|         PUERTO RICO|  1419|
|      SOUTH CAROLINA| 12512|
|            COLORADO| 30971|
|          WASHINGTON|100126|
+--------------------+------+

In [83]:
#df.select('CASE_STATUS').distinct().show()
df4.select('STATE').distinct().count()

53

In [81]:
#df4.na.drop()
df4 = df4.na.drop()

In [82]:
df4.count()

2912535

In [78]:
df4.select('STATE').distinct().count()

53

In [85]:
df4.write \
    .format('csv') \
    .option("header","true")\
    .save('H1B_CLEANED.csv')